annotated-types
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
Flask
Flask-Cors
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
joblib
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
murmurhash
numpy
packaging
preshed
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
pyparsing
python-dotenv
requests
rich
rsa
scikit-learn
scipy
shellingham
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
thinc
threadpoolctl
tqdm
typer
typing_extensions
uritemplate
urllib3
wasabi
weasel
Werkzeug
wrapt
google.generativeai
python-dotenv